li {
  padding: 5px;
  margin: 5px;

}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: red;
}

.form-group {
  margin-bottom: 5px;
}
body {
  background-image: url("https://image.freepik.com/free-vector/burger-seamless-pattern-background-vector-design_22159-34.jpg")
} 

